.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 3%;
}

.infoDiv {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
}

.infoDiv > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;
}

.tableData {
    text-align: end;
}

.overviewContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%
}

.detailsBody {
    display: flex;
    width: 100%;
}

.spacer {
    width: 45%;
    flex-grow: 1;
}

.overviewContainer > div {
}