.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.infoDiv {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.infoDiv > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

.tableData {
    text-align: end;
}

.overviewContainer {
    display: flex;
    flex-direction: row;
}

.detailsBody {
    display: flex;
    width: 100%;
}

.spacer {
    width: 50%;
    flex-grow: 1;
}

.overviewContainer > div {
}